# Ігнорування npm модулів
node_modules

# Ігнорування віртуального середовища Python
venv

# Ігнорування кешованих файлів Python
__pycache__

# Ігнорування налаштувань операційної системи
.DS_Store
Thumbs.db